body {
  font-family: helvetica;
  text-align: center;
  background-color: #f75c03;
  animation: BGcolors 50s ease infinite;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

p {
  color: #EDE7D9;
  font-size: 45px;
  font-family: 'Gugi', cursive;
}

input[type=text] {
  width: 80%;
  padding: 10px;
  /* position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 100px;
  border: 2px solid grey;
  border-radius: 10px;
}

button {
  margin: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-left: auto;
  width: 40%;
  background-color: #0750f9;
  color: #EDE7D9;
  padding: 10px;
  position: relative;
  border-color: #ffffff
  animation: buttons 50s ease infinite;
}

@keyframes BGcolors { 
    0%{background-color:#f75c03}
    20%{background-color:#28502e}
    40%{background-color:#4b4237}
    60%{background-color:#2d7dd2}
    800%{background-color:#5f0f40}
    100%{background-color:#ed1566}
}

@keyframes buttons {
  0%{border-color:#ffffff}
  50%{border-color:#c9fcf7}
  100%{border-color:#fcc9c9}
}
