body {
  font-family: helvetica;
  text-align: center;
  background-color: #dbf0ff;
  
}

#app {
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

p {
  color: #a3ba34;
  font-size: 20px;
}

input[type=text] {
  width: 80%;
  padding: 10px;
  /* position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 100px;
  border: 2px solid grey;
  border-radius: 10px;
}

button {
  margin: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-left: auto;
  width: 40%;
  background-color: #2bff0f;
  color: #2e5ca5;
  padding: 10px;
  position: relative;
}
